/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .spacer {
        height: 20px; /* 余白の高さを調整 */
    }    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

section h2 {
    color: #333;
}

section p {
    color: #666;
}

footer {
    background-col
