/* セレクターリスト */
h1 {
  color: blue;
}
.special {
  color: blue;
}


/* カンマ区切りでセレクターリストにもできます。 */
h1, .special {
  color: blue;
}


/* カンマの前後にホワイトスペースを入れることもできます。改行したほうが読みやすいかもしれません。 */
h1,
.special {
  color: blue;
}



/* 次の例では、不正なクラスセレクターのルールは無視され、 h1 がスタイル設定されます。 */
h1 {
  color: blue;
}

..special {
  color: blue;
}


/* しかし、結合された場合、 h1 もクラスもスタイル設定されず、ルール全体が不正なものとみなされます。 */
h1, ..special {
  color: blue;
}









/* セレクターの種類 */
/* 要素型 */
h1 {
}

/* クラスセレクター */
.box {
}

/* IDセレクター */
#unique {
}



/* 属性セレクター */
/* 指定の属性を持つ要素。この場合title属性を持つ<a>を指定 */
a[title] {
}

/* 指定の属性を持ち、かつ、特定の属性値を持つ要素を選択するセレクター */
a[href="https://example.com"]
{
}



/* 擬似クラス */
/* 例えば、:hover擬似クラスは、マウスポインターが上に置かれたときだけ要素を選択します。 */
a:hover {
}

/* 擬似要素 */
/* 
  要素自体ではなく要素の特定の部分を選択するセレクターもあります。
  たとえば、::first-line は要素（以下の例では <p>）内の最初の行をまるで <span> で囲んでスタイル設定したかのように動作します。 */
p::first-line {
}




/* 結合子 */
/* 
  セレクター同士を組み合わせて文書内のターゲット要素を選択します。
  たとえば、以下の例では子結合子（子コンビネーター、child combinator）(>) によって <article> 要素の
  直接の子である段落を選択します。 */
article > p {
}






