/* HTML 要素のスタイル設定 */
h1 {
  color: blue;
}

/* セレクターをカンマで区切ることによって、同時に複数のセレクターを対象にすることができます。 */
p,
li {
  color: green;

  /* 箇条書きの点を削除 */
  list-style-type: none;
  /* https://developer.mozilla.org/ja/docs/Web/CSS/list-style-type */
}





/* クラスの追加 */
/* 
  これまで、HTML 要素名をもとにしたスタイル設定をしてきました。これは、文書内にあるその要素すべてをおなじ見ばえにしたいときには有効です。
  しかしそんな場合はほとんどないので、ほかを変えずに一部の要素だけを選ぶ方法を知っておく必要があります。
  もっとも一般的なのが、HTML要素にクラスを追加し、それに焦点をあてる方法です。 */

/* ピリオドから始まるセレクターを作ることで、special クラスを対象にすることができます。 */
.special {
  color: orange;
  font-weight: bold;
}

/* HTML要素セレクターに続けてクラスセレクターが記述されているのを時々見るかもしれません: */
li.special {
  color: orange;
  font-weight: bold;
}
/* 
  この構文は、「special クラスを持っている li 要素を対象にしろ」という意味です。もしそうなっていたらもう、<span> 要素や
  ほかに special クラスにした要素には適用できません。 */






/* 文書内の場所に基づクスタイル設定 */
/* 
  文書のどこにあるかで見栄えを変えたい時があります。それを助けるセレクターはいくつかありますが、いまは2種類だけ見てみましょう。
  HTML 文書には 2 つの <em> 要素があります。ひとつは段落の中に、もうひとつはリストアイテムの中に、です。<li> 要素の中にある 
  <em> だけを選びたいとき、子孫結合子と呼ばれるセレクターを使うことができます。
  これは２つの異なるセレクターの間に空白を設けることで設置できます。 */
li em {
  color: rebeccapurple;
}

/* 
  HTML文書内で、見出しの直後に来る段落を見出しと同じ階層レベルにしたいと思うことがあるかもしれません。
  このときはセレクター同士の間に + を入れます（次兄弟結合子） */
h1 + p {
  font-size: 200%;
}








/* 状態に基づくスタイル設定 */
/* 
  最後にこのチュートリアルで取り上げるのは、状態に基づいてスタイルを設定する方法です。かんたんな例はリンクのスタイル設定です。
  リンクをスタイル設定するとき、<a> (anchor) 要素に焦点をあてる必要があります。リンクされたページを開いていなかったり、開いた後だったり、
  マウスの矢印をかざしたり（ホバー）、キーボードで選択したり、クリックしたりといったように状態が変わります。こうしたさまざまな状態を 
  CSSで選ぶことができます。

  — 以下だと、リンクされたページを開く前はピンクに、開いた後は緑になります。 */
a:link {
  color: gold;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}









/* セレクターと結合子を組み合わせる */
/* 
  複数のセレクターと結合子を組み合わせることができます。 */

/* <article> 要素の内側にある <p> 要素の <span> 要素に焦点を当てるとき */
article p span {
  text-align: center;
}

/* <h1> 要素の直後に来る <ul> 要素の、そのまた直後に来る <p> 要素に焦点を当てるとき */
h1 + ul + p {
  font-size: 20;
}

/* <body> 要素の中にある <h1> 要素の直後に来た <p> 要素の中にある special クラスの要素をスタイル設定します。 */
body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}