/* 要素型セレクター */
/* 
  タグ名セレクターまたは要素セレクターと呼ばれることもあります。これは文書中のタグまたは要素を選択するからです。
  要素型セレクターは大文字小文字の区別がありません。 */
h1 {
  color: white;
}
H1 {
  color: black;
}




/* 全称セレクター */
/* 
  全称セレクター (universal selector) はアステリスク (*) で表します。またこれは文書のすべてまたは親要素に含まれる
  すべての要素（これはそれが連なっている、他の要素やそれらの子要素に連なっている要素すべて）を選択します。 */
* {
  margin: 0;
}




/* クラスセレクター */
/* 
  クラスセレクターの名前はピリオド (.) から始まります。そしてそのクラスが適用されている、文書内のすべてを選択します。 */
.highlight {
  background-color: yellow;
}



/* 特定の要素のクラスを対象にする */
/* 
  特定のクラスが適用された特定の要素を対象にするセレクターを作成できます。 */
span.highlight {
  background-color: yellow;
}

h1.highlight {
  background-color: pink;
}




/* 複数のクラスが適用された要素を対象にする */
/* 
  一つの要素に複数のクラスを適用できます。それらを個別に選択することも、すべてのクラスがあるものだけを選択することもできます。 */
/* 
  次の例は、ノートのある <div> です。灰色の境界はそのボックスが notebox クラスもっている場合にのみ適用されます。もしそれが warning
  やdangerクラスも持っていた場合 border-color を変更します。 */
.notebox {
  border: 4px solid #666;
  padding: .5em;
}

.notebox.warning {
  border-color: orange;
  font-weight: bold;
}

.notebox.danger {
  border-color: red;
  font-weight: bold;
}







/* ID セレクター */
/* 
  ID セレクターは大文字と小文字を区別し、ピリオドではなく # で始まりますが、クラスセレクターと同じように使用します。ただし、 ID を使用することが
  できるのは 1 ページにつき 1 回のみで、要素には 1 つの id 値しか示すことができません。 */
#one {
  background-color: yellow;
}

h1#heading {
  color: rebeccapurple;
}